@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Aturan untuk layar tablet */
@media (max-width: 768px) {
  .main-content {
    padding: 20px;
  }
}

/* Aturan untuk layar ponsel */
@media (max-width: 480px) {
  .main-content {
    padding: 10px;
  }
}

* {
  font-family: "Poppins", sans-serif;
}
.navbar {
  background-color: #007bff; /* Warna biru */
}

.nav-link,
.navbar-brand,
.btn {
  color: white !important; /* Teks berwarna putih */
}

.nav-link:hover {
  text-decoration: underline; /* Garis di bawah teks saat hover */
}

.btn-outline-primary {
  margin-right: 10px !important;
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  color: #2c9caf;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #2c9caf;
}

.btn-outline-primary:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #70bdca;
  box-shadow: 4px 5px 17px -4px #268391;
}

.btn-outline-primary::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #2c9caf;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.btn-outline-primary:hover::before {
  width: 250%;
}

.btn-primary {
  margin-left: 10px !important;
  position: relative;
  margin: 0;
  padding: 0.8em 1em;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  background-color: #333;
  border-radius: 10px;
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.btn-primary:hover {
  animation: sh0 0.5s ease-in-out both;
}

@keyframes sh0 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(7deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-7deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

.btn-primary:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

.workflow{
  color: #2d45a7;
}

.btn-primary::before,
.btn-primary::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
  opacity: 0;
  transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
  z-index: -1;
  transform: translate(100%, -25%) translate3d(0, 0, 0);
}

.btn-primary:hover::before,
.btn-primary:hover::after {
  opacity: 0.15;
  transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.btn-primary:hover::before {
  transform: translate3d(50%, 0, 0) scale(0.9);
}

.btn-primary::after {
  transform: translate(50%, 0) scale(1.1);
}

.icon-menu {
  --gap: 5px;
  --height-bar: 2.5px;
  --pos-y-bar-one: 0;
  --pos-y-bar-three: 0;
  --scale-bar: 1;
  --rotate-bar-one: 0;
  --rotate-bar-three: 0;
  width: 25px;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  cursor: pointer;
  position: relative;
  z-index: 1051; /* Ensure the hamburger icon is above the collapse menu */
}

.bar {
  position: relative;
  height: var(--height-bar);
  width: 100%;
  border-radius: 0.5rem;
  background-color: white;
}

.bar--1 {
  top: var(--pos-y-bar-one);
  transform: rotate(var(--rotate-bar-one));
  transition: top 200ms 100ms, transform 100ms;
}

.bar--2 {
  transform: scaleX(var(--scale-bar));
  transition: transform 150ms 100ms;
}

.bar--3 {
  bottom: var(--pos-y-bar-three);
  transform: rotate(var(--rotate-bar-three));
  transition: bottom 200ms 100ms, transform 100ms;
}

.check-icon:checked + .icon-menu > .bar--1 {
  transition: top 200ms, transform 200ms 100ms;
}

.check-icon:checked + .icon-menu > .bar--3 {
  transition: bottom 200ms, transform 200ms 100ms;
}

.check-icon:checked + .icon-menu {
  --pos-y-bar-one: calc(var(--gap) + var(--height-bar));
  --pos-y-bar-three: calc(var(--gap) + var(--height-bar));
  --scale-bar: 0;
  --rotate-bar-one: 45deg;
  --rotate-bar-three: -45deg;
}

@media (max-width: 992px) {
  .navbar-collapse {
    display: none;
  }

  .navbar-collapse.show {
    display: block;
  }

  .navbar-nav {
    text-align: right;
    padding-top: 10px;
  }
}

.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #ec4b1d;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #f5724d;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.page {
  padding: 20px;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-nav .nav-link {
  margin-right: 15px;
}

.navbar-nav .nav-link:hover {
  text-decoration: underline;
}

.dashboard {
  display: flex;
}

.sidebar {
  width: 200px;
  background-color: #2d45a7;
  box-sizing: border-box;
  height: 100vh;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.logo {
  width: 100px;
  height: auto;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  position: relative;
  margin: 15px 0;
}

.sidebar ul li a {
  display: flex;
  align-items: center;
  padding: 10px;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar ul li a img.icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  transition: filter 0.3s;
}

.sidebar ul li a:hover,
.sidebar ul li a:focus,
.sidebar ul li a.active {
  background-color: white;
  color: blue;
  border-radius: 20px 0 0 20px;
}

.sidebar ul li a:hover img.icon,
.sidebar ul li a:focus img.icon,
.sidebar ul li a.active img.icon {
  filter: invert(29%) sepia(96%) saturate(7491%) hue-rotate(203deg) brightness(94%) contrast(104%);
}
.sidebar ul li .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #fbfbfe;
  list-style: none;
  padding: 0;
  margin: 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.sidebar ul li .dropdown-menu li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.sidebar ul li .dropdown-menu li a {
  display: block;
  text-decoration: none;
  color: #000;
}

.sidebar ul li.open .dropdown-menu {
  display: block;
}

.main-container {
  padding: 20px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 5px 10px;
}

.header-container h2 {
  margin: 0;
}

.header-container .add-employee {
  border: none;
  background-color: #ec4b1d;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  float: right;
  width: 170px;
  height: 38px;
  flex-shrink: 0;
}

.header-container .add-employee:hover {
  background-color: #f5724d;
  border: none;
  color: white;
}

.employees-container {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table {
  background-color: #ffffff;
}

.table th,
.table td {
  vertical-align: middle;
  text-align: center;
}

.delete-btn {
  color: red;
  cursor: pointer;
}

.delete-btn:hover {
  color: darkred;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #fbfbfe;
  padding: 20px 0;
  text-align: center;
}

.footer .social-icons a {
  margin: 0 10px;
  color: #2d45a7;
  font-size: 1.2rem;
}

.footer .social-icons a:hover {
  color: #007bff;
}

.homedashboard {
  display: flex;
  font-family: Arial, sans-serif;
}

.logo {
  font-size: 24px;
  margin-bottom: 20px;
}

.main-content-admin {
  margin-left: 250px;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}
.main-content {
  margin-left: 250px;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}

.header-admin-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ecf0f1;
  padding: 20px;
  border-radius: 10px;
}

.header-user-homedashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ecf0f1;
  padding: 20px;
  border-radius: 10px;
}

.user-info h1 {
  margin: 0;
  font-size: 24px;
}

.user-info p {
  margin: 5px 0;
}

.user-avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}


.required-asterisk {
  color: red;
}

/* login.css */
.container-login {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  margin: 0 auto;
  padding: 20px;
}

.login-form {
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  border-radius: 9px 0 0 9px;
  background-color: #fff;
}

.header-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0;
}

.title-login {
  font-weight: 700;
  font-size: 30px;
  line-height: 21px;
  text-align: center;
  color: #2b2b2f;
  margin-bottom: 10px;
}

.description-login{
  margin-top: 20px;
  text-align: center;
}
.description-forgotpassword{
  margin-top: 20px;
  text-align: center;
}
.container-forgot-password {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  margin: 0 auto;
  padding: 20px;
}

.forgot-password-form {
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  border-radius: 9px 0 0 9px;
  background-color: #fff;
}

.header-forgot-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0;
}

.title-forgot-password {
  font-weight: 700;
  font-size: 30px;
  line-height: 21px;
  text-align: center;
  color: #2b2b2f;
  margin-bottom: 10px;
}


.input_container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input_field {
  width: 100%;
  height: 40px;
  padding: 0 0 0 40px;
  border-radius: 7px;
  outline: none;
  border: 1px solid #e5e5e5;
  filter: drop-shadow(0px 1px 0px #efefef) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.input_field:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px #115dfc;
  background-color: transparent;
}

.login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 36px;
  background: linear-gradient(180deg, #4480ff 0%, #115dfc 50%, #0550ed 100%);
  box-shadow: 0px 0.5px 0.5px #efefef, 0px 1px 0.5px rgba(239, 239, 239, 0.5);
  border-radius: 5px;
  border: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  transition: all 0.6s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.login-btn:hover {
  transform: scale(1.01) translateY(-2px);
  box-shadow: 0 10px 20px 0 #054eed6b;
}

.reset-password-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 36px;
  background: linear-gradient(180deg, #4480ff 0%, #115dfc 50%, #0550ed 100%);
  box-shadow: 0px 0.5px 0.5px #efefef, 0px 1px 0.5px rgba(239, 239, 239, 0.5);
  border-radius: 5px;
  border: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  transition: all 0.6s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.reset-password-btn:hover {
  transform: scale(1.01) translateY(-2px);
  box-shadow: 0 10px 20px 0 #054eed6b;
}


.user-profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #00000011;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.username {
  color: #4d4c6d;
  font-size: 11px;
  text-align: center;
  font-weight: 600;
}

.occupation {
  color: rgb(141, 140, 161);
  font-size: 10px;
  text-align: center;
  font-weight: 600;
}

.error-message {
  color: red;
}

/* Attendance.css */
.container-attendance {
  display: flex;
}

main {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.header-attendance {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
}

.button-hadir,
.button-cuti {
  flex: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  margin: 0;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.button-hadir {
  width: 127px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 20px 0px 0px 20px;
  border-radius: 20px 0px 0px 20px;
  border: 1px solid #2d45a7;
  background: #2d45a7;
}

.button-hadir button {
  margin-right: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-hadir .active {
  background-color: #2d45a7;
  color: white;
}
.button-cuti {
  border-radius: 0px 20px 20px 0px;
  border: 1px solid #2d45a7;
  background: #fbfbfe;
  color: #2d45a7;
}

.button-cuti button {
  margin-right: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fbfbfe;
  color: #263a9d;
}

.header-controls .print-button {
  border: none;
  background-color: #ec4b1d;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  float: right;
  width: 170px;
  height: 38px;
  flex-shrink: 0;
  margin-top: 20px;
}

.date-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  margin-top: 80px;
}
.date-display {
  width: 234px;
  height: 105px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #dedcff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  margin-top: 15px;
}
.date-display .hadir-hari {
  color: #1e1e1e;
  text-align: center;
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 15px;
}
.date-display .hadir-tanggal {
  color: #1e1e1e;
  text-align: center;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.date-navigation .nav-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: black;
}

.date-navigation .date-display {
  text-align: center;
  margin: 0 20px;
}

.attendance-table {
  width: 100%;
  border-collapse: collapse;
}

.attendance-table th,
.attendance-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.leave-table th {
  background-color: #f2f2f2;
  
}
.leave-table {
  width: 100%;
  border-collapse: collapse;
}

.leave-table th,
.leave-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.attendance-table th {
  background-color: #f2f2f2;
}

.view-button,
.delete-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.table-gaji {
  margin-top: 50px;
}

.header-controls .button-gaji {
  border: none;
  background-color: #ec4b1d;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  float: right;
  width: 170px;
  height: 38px;
  flex-shrink: 0;
}
.attendance-container {
  padding: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table th {
  background-color: #f2f2f2;
  text-align: left;
}

.webcam-container {
  margin-bottom: 20px;
}

.buttons {
  margin-top: 10px;
}

.captured-image {
  margin-top: 20px;
}

.captured-image img {
  max-width: 100%;
  height: auto;
}
.App {
  text-align: center;
  padding: 20px;
}

.table {
  margin-top: 20px;
}

.my-4 .picturein{
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  width: 620px;
  height: 38px;
}
/*header admin*/

.header-admin-container {
  margin-top: 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header-right {
  display: flex;
  align-items: center;
}

.icon-wrapper {
  position: relative;
  margin-left: 20px;
  cursor: pointer;
}

.notification-icon-wrapper {
  position: relative;
}

.notification-badge {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px 7px;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-profil-small {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 20px;
}

.notification-popup {
  position: absolute;
  top: 50px;
  right: 20px;
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 1001;
}

.popup-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  backdrop-filter: blur(5px);
}
.stats {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.stat-item h2 {
  margin: 0 0 10px;
}

.stat-item p {
  font-size: 24px;
  margin: 0;
}

.stats .stat-item-aktif {
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 30%;
  background-color: #2D45A7;
  color: #f2f2f2;
}

.stats .stat-item-cuti{
  background-color: #06939C;
  color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 30%;
}

.stats .stat-item-keluar {
  background-color: #E20808;
  color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 30%;
}

.password-input-container {
  position: relative;
}

.password-toggle-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

